@font-face{
    font-family: 'Netflix';
    src: url('fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-family: Netflix;
    background-color: black;
    color: #fff;
}
.opening{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
}
/*Netflix logo*/
.logo{
    width: 95%;
    justify-self: center
}

/*Menu*/
.nav{
    display: flex;
    justify-content: space-around;
}
.item:hover{
    cursor: pointer;
}
video{
    justify-self: center;

}
.tittle{
    text-align: center;
}
.description{
    text-align: center;
}
/*Topics of the film*/
.topics{
    display: flex;
    justify-content: center;
}
.item_topic{
    margin-left: 25px;
}
/*Icons*/
.icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.icon{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon a{
    text-decoration: none;
    font-weight: 600;
}
.icon:nth-child(3){
    font-style: italic;
}
.play{
    width: 200px;
}
.button{
    border: none;
    letter-spacing: 2px;    
}
.button:hover{
    cursor: pointer;
}
.icon-play{
    width: 100%;
    height: 90%;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    transition: all 0.4s ease;
}
.icon-play:hover{
    border: 1px solid #fff;
    color: #fff;   
    background-color: black;    
}

